{
  "presets": ["env", "react", "stage-0"],
  "env": {
    "production": {
      "only": ["app"],
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "test": {
      "presets": ["env", "react", "stage-0"],
      "plugins": ["dynamic-import-node"]
    }
  }
}
